In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('world_data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300042 entries, 0 to 300041
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      300042 non-null  object
 1   Country_code       298776 non-null  object
 2   Country            300042 non-null  object
 3   WHO_region         300042 non-null  object
 4   New_cases          300042 non-null  int64
 5   Cumulative_cases   300042 non-null  int64
 6   New_deaths         300042 non-null  int64
 7   Cumulative_deaths  300042 non-null  int64
dtypes: int64(4), object(4)
memory usage: 18.3+ MB

In [5]:
data.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [6]:
data.rename(columns={'Date_reported' : 'Date'}, inplace=True)
data.drop(['Country_code', 'WHO_region'], axis=1, inplace=True)
data.head()

,Date,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,Afghanistan,0,0,0,0
1,2020-01-04,Afghanistan,0,0,0,0
2,2020-01-05,Afghanistan,0,0,0,0
3,2020-01-06,Afghanistan,0,0,0,0
4,2020-01-07,Afghanistan,0,0,0,0

In [8]:
data.to_csv('World_data.csv', index=False)

In [9]:
fr_data = data.loc[data.Country == 'France'].reset_index(drop=True)
fr_data.to_csv('france.csv', index=False)
fr_data.head()

,Date,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,France,0,0,0,0
1,2020-01-04,France,0,0,0,0
2,2020-01-05,France,0,0,0,0
3,2020-01-06,France,0,0,0,0
4,2020-01-07,France,0,0,0,0

In [22]:
wn_cases = pd.DataFrame(data, columns = ['Date', 'New_cases'])
wn_cases.to_csv('world_new_cases.csv', index=False)
wn_cases.head()

         Date  New_cases
0  2020-01-03          0
1  2020-01-04          0
2  2020-01-05          0
3  2020-01-06          0
4  2020-01-07          0

In [23]:
wc_cases = pd.DataFrame(data, columns = ['Date', 'Cumulative_cases'])
wc_cases.to_csv('world_cum_cases.csv', index=False)

fn_cases = pd.DataFrame(fr_data, columns = ['Date', 'New_cases'])
fn_cases.to_csv('fr_new_cases.csv', index=False)

fc_cases = pd.DataFrame(fr_data, columns = ['Date', 'Cumulative_cases'])
fc_cases.to_csv('fr_cum_cases.csv', index=False)

In [17]:
wn2_cases = pd.DataFrame(data, columns = ['Date', 'New_deaths'])
wc_cases.to_csv('world_new_deaths.csv', index=False)

wc2_cases = pd.DataFrame(data, columns = ['Date', 'Cumulative_deaths'])
wn_cases.to_csv('world_cum_deaths.csv', index=False)

fn2_cases = pd.DataFrame(fr_data, columns = ['Date', 'New_deaths'])
wn_cases.to_csv('fr_new_deaths.csv', index=False)

fn2_cases = pd.DataFrame(fr_data, columns = ['Date', 'Cumulative_deaths'])
wn_cases.to_csv('fr_cum_deaths.csv', index=False)